body {
    width:100%;
    height:auto;
    margin:0px;
    padding:0px;
}

/** STYLING FOR THE NAVIGATOIN BAR**/

.nav-section{
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 1;
    background-color: green;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.nav-items {
    display: flex;
    justify-content: space-between;
}

.nav-items > li {
    list-style: none;
    box-sizing: border-box;
    color: purple;
    margin: 1rem;
    text-transform: uppercase;
    
}
li:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease;
}

/***********/

/*STYLING FOR CARD SECTION*/
:root {
    --primaryColor: rgb(0, 170, 22);
    --fontSize: 14.4px;
    --color: #ffffff;
    --margin: 40px;
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.item {
    padding: 5%;
    border-radius: 5px;
    transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5) 
}

.card-section{
    background-color: #f0f0f0 /*rgba(214, 214, 197, 0.8) !important */;
}

.card{
    position: relative;
    border-radius:10px;
    width:250px;
    height:auto;
    align-items: center;
    box-shadow: 0px 5px 5px 0px #f0f0f0;
    background: #fff;
    margin: 0.2rem;
    transition: 0.4s ease-out;
}

.card:hover{
    transform: translateY(20px)
}
.card:before{
    opacity: 1;
}
            

.card-content > h2{
    font-size: 1rem;
}
 img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    
}
.card-body {
    width: 100%;
    height: auto;
    
}
.icon{
    font-size: 1rem;
}
.banner {
    background-color: orange;
    text-align: center;
    color:var(--color);
    width: 20%;
    border-radius: 15px;
    position: absolute;
    float: right;
    top: 0px;
    right: 0px;
    margin: 5px;
}

.card-base{
    color: var(--primaryColor);
    font-size: var(--fontSize);
    font-weight: 700;
    font-family:'arial black';
    font-style:'normal'
}
.cart{
    width:40%;
    text-align:center;
    margin: 5px;
    float:right;
    border-radius:10px;
    background-color:whitesmoke;
}
.side-bar {
    position: fixed;
    background:var(--color);
    text-align: left;
    margin: 0px ;
    box-sizing: border-box;
    background-color: transparent;
    margin-top: var(--margin);
    
}
.side-bar > p{
    font-size: 0.8rem;
    line-height: 3rem;
}
.side-bar > p > span {
    margin-left: 5px;
}

.check{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: var(--margin);
    padding-left: 30px;
}

@media screen and (max-width:640px){
    .side-bar{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        position: fixed;
        z-index: 1;
        margin: auto;
        line-height: -2rem;
        padding-left:0 15px;
        padding-right: 15px;
    }
    .card-section{
        padding-top: 20px;
    }
    .check{
        justify-content: space-evenly;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:812px){
    .check{
        margin: 20px;
        padding-left: 30px;
    }   
    .card{
        margin: 0.1rem;
    }
}
@media screen and (max-width:768px){
    .check{
        padding-right: 10%;
        margin-left: 2%;
    }
    .card{
        margin: 0.3rem;
    }
}

@media screen and (max-width:1024px){
    .check{
        
        padding-right: 7%;
        display: grid;
        grid-template-columns: repeat(3,1fr);

    }
    .card{
        margin: 0.1rem;
    }
}